# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
ignore/
# Virtual Env
venv/
env/
ENV/
.env
# OS
.DS_Store
Thumbs.db

# Logs and Temps
mdpdf.log
*.log
temp_book_complete.md
tmp_checkpoints/
wandb/

# Results
benchmark_results/
results/
tests/
examples/
# User Docs/Images
*.ipynb
*.json
*.png
*.pdf

